<div class="container">
  <div class="header">
    <div class="search-container">
        <span class="search-icon">🔍</span>
        <input type="text" class="search" placeholder="جستجو" id="search-input">
    </div>
    <h1>درخت سازمانی</h1>
    
  </div>
  <div class="main">
    <div class="tree-container">
      <div class="tree-node">
        <div class="tree-header expanded">
          <span class="node-name">رئیس کل</span>
          <span class="toggle-icon">◀</span>
        </div>
        <div class="tree-content">
          <div class="tree-node">
            <div class="tree-header expanded">
                <span class="node-name">رئیس مرکز حراست</span>
                <span class="toggle-icon">◀</span>
            </div>
            <div class="tree-content">
              <div class="tree-node">
                <div class="tree-header">
                    <span class="node-name">مدیرکل حفاظت فناوری اطلاعات</span>
                    <span class="toggle-icon">◀</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
</div>