<div class="container">
  <div class="header">
    <div class="search-container">
        <span class="search-icon">🔍</span>
        <input type="text" class="search" placeholder="جستجو" id="search-input">
    </div>
    <h1>جایگاه های سازمانی</h1>
    
  </div>
  <div class="main">
    <div class="tree-container">
      <ng-container *ngFor="let node of dataSource">
        <ng-container *ngTemplateOutlet="treeNodeTemplate; context: {$implicit: node}"></ng-container>
      </ng-container>
    </div> 
  </div>
</div>

<ng-template #treeNodeTemplate let-node>
  <div class="tree-node">
    <div class="tree-header" [class.expanded]="node.expanded" [class.active]="node.active" (click)="selectNode(node, $event)">
      <span class="node-name" (click)="selectNode(node, $event)">{{ node.name }}</span>
      @if(node.hasChildren) {
      <span class="toggle-icon" [class.expanded]="node.expanded" (click)="toggleNode(node, $event)">◀</span>
      } @else {
        <span class="toggle-icon" style="visibility: hidden;">◀</span>
      }
    </div>
    <div class="tree-content" [class.expanded]="node.expanded" *ngIf="node.children?.length">
      <ng-container *ngFor="let child of node.children">
        <ng-container *ngTemplateOutlet="treeNodeTemplate; context: {$implicit: child}"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>